* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient( rgba(5, 5, 5, 0.4),  rgba(5, 5, 5, 0.4)), url("images/noom-peerapong-30948-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #F7FFF7;
  font-family: "Jaldi", sans-serif;
}


.watchListMovie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 25%;
}

.movieListComp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.movieListItem {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: 15px;
  padding: 20px;
  border: 5px #FFE66D dashed;
  text-align: center;
}

.about {
  padding: 10px;
}

.img {
  width: 100px;
  height: 100px;
}

nav{
  background-image: url("images/filmstrip.png");
  height: 190px;
  color: #F7FFF7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#movieInfo{
  display: flex;
  justify-content: space-around;
}

#movieLeft{
  margin: 50px 0 100px 50px;
  width: 40%;
}

#movieRight{
  margin: 75px 50px 100px 0;
  width: 40%;
  color: #F7FFF7;
}

p{
  padding-top: 10px;
  padding-bottom: 10px;
}

h3{
  font-size: 50px;
}

.movieInfoP{
  font-size: 26px;
}

#infoButton{
  margin-top: 20px;
  height: 50px;
  width: 250px;
  font-size: 26px;
  background-color: #FFE66D;
  color: #050505;
  border-radius: 25px;
}

.searchButton {
  height: 25px;
  width: 100px;
  font-size: 16px;
  background-color: #FFE66D;
  color: #050505;
  border-radius: 25px;
  margin-left: 30px;
  margin-top: 20px;
}

h1 {
  color: #6CA6C1;
  font-size: 75px;
  margin-top: 25px;
}

#syntax {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 43px;
}

#removeButton {
  margin-top: 20px;
  height: 50px;
  width: 80%;
  font-size: 20px;
  background-color: #FFE66D;
  color: #050505;
  border-radius: 25px;
}

h4 {
  font-size: 30px;
}

.inputs {
  display: flex;
  justify-content: space-around;
}

input {
  border-radius: 10px;
  height: 25px;
  width: 150px;
  font-size: 16px;
  border: 3px #6CA6C1 solid;
  padding: 10px;
}

.searchButton2 {
  height: 25px;
  width: 100px;
  font-size: 16px;
  background-color: #FFE66D;
  color: #050505;
  border-radius: 25px;
  margin-left: 30px;
  margin-top: 80px;
}

.hover:hover {
  cursor: pointer;
}